## Navigation
alias ls='ls -Fha'
alias ll='ls -lh'
alias la='ls -dFL .*'
alias l='ls'
alias c='clear'
alias q='exit'
alias mv='mv -iv'
alias mvcd='mv $1 && cd $1'

## Files
alias df="df -Tha --total"
alias dua="du -ach | sort -n" # short for du "all"
alias dus="du -hs" # short for du "summary"
alias cp='cp -iv'
alias mkdir='mkdir -pv'
alias ll='ls -FGlAhp'
alias less='less -FSRXc'
cd() { builtin cd "$@"; ll; }       # Always list directory contents upon 'cd'
alias cd..='cd ../'                 # Go back 1 directory level (for fast typers)
alias ..='cd ../'                   # Go back 1 directory level
alias ...='cd ../../'               # Go back 2 directiry levels

## Processes
alias psg="ps aux | grep -v grep | grep -i -e VSZ -e" # pass process as argument

## Directory Shortcuts
alias home='cdhome ~; ls'
alias sites='cdsites /etc/apache2/sites-available/; ls'
alias www='cdwww /var/www/; ls'

## Directory Info
alias numFiles='echo $(ls -1 | wc -l)'      # numFiles:     Count of non-hidden files in current dir

## Filemakers
alias make1mb='mkfile 1m ./1MB.dat'         # make1mb:      Creates a file of 1mb size (all zeros)
alias make5mb='mkfile 5m ./5MB.dat'         # make5mb:      Creates a file of 5mb size (all zeros)
alias make10mb='mkfile 10m ./10MB.dat'      # make10mb:     Creates a file of 10mb size (all zeros)

## Audio
alias granular='mpg123 -q ~/Music/Open/Granular_2017-01-03_11-21.mp3' # play granular loop
alias granular2='mpg123 -q ~/Music/Open/Granular_2017-01-03_11-21_reverbdrone.mp3' # play granular loop with reverb

## Random Fun
alias random1='cat /dev/urandom | hexdump | grep --color=auto "0"'
alias random2='cat /dev/urandom | hexdump -C | grep --color=auto "0"'
alias random3='cat /dev/urandom | hexdump -o | grep --color=auto "1"' 
alias random4='cat /dev/urandom | hexdump -x | grep --color=auto "1"'
alias random5='cat /dev/urandom | hexdump -C'

## Working
#alias update="vi `date +"%Y-%m-%dT%H:%M:%S"`.md"

# File and Directory Colors
#if [ -x /usr/bin/dircolors ]; then
#    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
#    alias ls='ls --color=auto'
#    alias dir='dir --color=auto'
#    alias vdir='vdir --color=auto'
#
#    alias grep='grep --color=auto'
#    alias fgrep='fgrep --color=auto'
#    alias egrep='egrep --color=auto'
#fi

# Use this  "alert" alias for long running commands, e.g., sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
