"*":
  "atom-beautify":
    markdown:
      default_beautifier: "Prettier"
  "atom-material-ui":
    colors:
      abaseColor: "#437388"
      accentColor: "#96b7d9"
    tabs:
      compactTabs: true
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
      "*.mmd"
      "*.markdown"
      "*.txt"
    ]
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    disabledPackages: [
      "language-gfm"
      "wrap-guide"
      "file-icons"
      "seti-icons"
      "minimap-autohide"
      "teletype"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom-inset"
  editor:
    fontSize: 13
    invisibles: {}
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "ab1e73cb-039b-47e7-b136-737e3945f485"
  minimap:
    moveCursorOnMinimapClick: true
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
    textOpacity: 0.4
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
