/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}
// remove Git colors from tree-view
.tree-view {
.status-modified,
.status-added,
.status-renamed,
.status-removed {
color: inherit !important; // remove diff color

&.directory > .list-item {
  color: inherit !important; // remove diff color
}
&.directory.selected > .list-item {
  color: @text-color-selected !important; // add selected color
}
}
}
.tree-view:focus li.directory.selected.status-added > .list-item::after {
background-color: # !important;
}

.tree-view:focus li:not(.list-nested-item).selected.status-added::before, tree-view:focus li.list-nested-item > .list-item.selected.status-added::before {
background-color: # !important;
}

status-bar .git-view {
visibility: hidden !important;
width: 0 !important;
}
// hide the tree view dock button
.atom-dock-toggle-button-visible
{
    display: none;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
  // background-color: #1E2A32;
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  // border-color: red;
}

// invisible scrollbars
body /deep/ ::-webkit-scrollbar {
    display: none !important;
}

// spellcheck underline is thinner, dashed, pale red
atom-text-editor.editor .spell-check-misspelling .region {
  border-bottom: 1px dashed #8a496b;
}

atom-text-editor, atom-text-editor.editor {
  .cursors.blink-off .cursor {
    opacity: 1;
  }
}

// gutter margin
atom-text-editor .gutter {
  margin-right: 1em;
}
// main editor window margin
atom-text-editor.editor {
  margin-top: .5em;
}

// hide deprecation warnings (gap in lower toolbar still signals deprecation)
.deprecation-cop-status {
   visibility: hidden;
}

// Custom colors

// Markdown syntax

// atom-text-editor.editor {
// .syntax--source.syntax--md {
//   .syntax--meta.syntax--bold {
//   color: darken(@syntax-text-color, 10%);
//   }
//   .syntax--meta.syntax--italic {
//     color: darken(@syntax-text-color, 10%);
//   }
//   .syntax--meta.syntax--heading {
//     color: lighten(@cyan, 15%);
//   }
//   .syntax--meta.syntax--quote {
//     color: lighten(@gray, 20%);
//   }
//   .syntax--meta.syntax--comment {
//     color: @dark-gray;
//   }
//   .syntax--meta.syntax--ordered {
//     color: @gray;
//   }
//   .syntax--meta.syntax--unordered {
//     color: lighten(@gray, 20%);
//   }
//   .syntax--meta.syntax--punctuation {
//     color: darken(@gray, 10%);
//   }
//   .syntax--meta.syntax--reference {
//     color: @blue;
//   }
//   .syntax--meta.syntax--link {
//     color: @syntax-text-color;
//   }
// }

// atom-text-editor::shadow {
//   .markup.md {
//      .heading-1 {
//        color: @blue;
//      }
//      .heading-2 {
//        color: @green;
//      }
//      .heading-3 {
//        color: @green;
//      }
//      .heading-4 {
//        color: @green;
//      }
//      .heading-5 {
//        color: @green;
//      }
//      .heading-6 {
//        color: @green;
//      }
//    }
//   .markup.md {
//     &.bold {
//       color: @light-gray;
//       font-weight: bold;
//     }
//     &.italic {
//       color: @light-gray;
//       font-style: italic;
//     }
//     &.list {
//       .punctuation {
//         color: @dark-gray;
//       }
//     }
//     &.quote {
//       .punctuation {
//         color: @gray;
//       }
//     }
//     &.code, .raw {
//       color: @red;
//       border: 1px solid mix(@code-background, @string-quoted-double, 90%);
//       background-color: mix(@code-background, @string-quoted-double, 90%);
//       border-radius: 3px;
//     }
//     &.link {
//       .destination .uri {
//         color: @green;
//       }
//       .string {
//         color: @purple;
//       }
//     }
//   }
